<component name="ArtifactManager">
  <artifact type="war" name="spring-read-properties:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-read-properties-1.0.war">
      <element id="artifact" artifact-name="spring-read-properties:war exploded" />
    </root>
  </artifact>
</component>